In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

df = pd.read_csv('/kaggle/input/amazon-movies-and-films/Amazon- Movies and Films.csv')
df.head(5)

,Unnamed: 0,title,Movie_Rating,No_of_Ratings,Format,ReleaseYear,MPAA_Rating,Directed_By,Starring,Price
0,0,Totally Killer,4.3,323,Prime Video,2023.0,R,Nahnatchka Khan,"Kiernan Shipka,Olivia Holt,Julie Bowen",NaN
1,1,Guy Ritchie's The Covenant,4.7,13268,Prime Video,2023.0,R,Guy Ritchie,"Jake Gyllenhaal,Dar Salim,Antony Starr",5.99
2,2,A Million Miles Away,4.9,1126,Prime Video,2023.0,PG,Alejandra M치rquez Abella,"Michael Pe침a,Rosa Salazar",NaN
3,3,Kelce,5.0,570,Prime Video,2023.0,NaN,Don Argott,"Jason Kelce,Travis Kelce,Kylie Kelce,Connor Ba...",NaN
4,4,Despicable Me 3,4.8,31813,Prime Video,2017.0,PG,"Pierre Coffin,Kyle Balda","Steve Carell,Kristen Wiig,Trey Parker",NaN

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2108 entries, 0 to 2107
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     2108 non-null   int64
 1   title          2108 non-null   object
 2   Movie_Rating   2108 non-null   float64
 3   No_of_Ratings  2108 non-null   int64
 4   Format         2108 non-null   object
 5   ReleaseYear    2069 non-null   float64
 6   MPAA_Rating    1378 non-null   object
 7   Directed_By    2043 non-null   object
 8   Starring       2107 non-null   object
 9   Price          1011 non-null   float64
dtypes: float64(3), int64(2), object(5)
memory usage: 164.8+ KB

In [3]:
df.drop("title", axis=1, inplace=True)
df.drop("No_of_Ratings", axis=1, inplace=True)
df.drop("Format", axis=1, inplace=True)
df.drop("MPAA_Rating", axis=1, inplace=True)
df.drop("Starring", axis=1, inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2108 entries, 0 to 2107
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    2108 non-null   int64
 1   Movie_Rating  2108 non-null   float64
 2   ReleaseYear   2069 non-null   float64
 3   Directed_By   2043 non-null   object
 4   Price         1011 non-null   float64
dtypes: float64(3), int64(1), object(1)
memory usage: 82.5+ KB

In [4]:
print(df.isnull().sum())

Unnamed: 0         0
Movie_Rating       0
ReleaseYear       39
Directed_By       65
Price           1097
dtype: int64

In [5]:
updated_df = df
updated_df['Price']=updated_df['Price'].fillna("NaN")
updated_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2108 entries, 0 to 2107
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    2108 non-null   int64
 1   Movie_Rating  2108 non-null   float64
 2   ReleaseYear   2069 non-null   float64
 3   Directed_By   2043 non-null   object
 4   Price         2108 non-null   object
dtypes: float64(2), int64(1), object(2)
memory usage: 82.5+ KB

In [6]:
updated_df1 = updated_df.dropna(axis=0)
y1 = updated_df1['ReleaseYear']
updated_df1.drop("ReleaseYear",axis=1,inplace=True)
updated_df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2011 entries, 0 to 2107
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    2011 non-null   int64
 1   Movie_Rating  2011 non-null   float64
 2   Directed_By   2011 non-null   object
 3   Price         2011 non-null   object
dtypes: float64(1), int64(1), object(2)
memory usage: 78.6+ KB

/tmp/ipykernel_33/2017827610.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  updated_df1.drop("ReleaseYear",axis=1,inplace=True)

In [7]:
updated_df.info()
updated_df2 = updated_df.dropna(axis=1)
updated_df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2108 entries, 0 to 2107
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    2108 non-null   int64
 1   Movie_Rating  2108 non-null   float64
 2   ReleaseYear   2069 non-null   float64
 3   Directed_By   2043 non-null   object
 4   Price         2108 non-null   object
dtypes: float64(2), int64(1), object(2)
memory usage: 82.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2108 entries, 0 to 2107
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    2108 non-null   int64
 1   Movie_Rating  2108 non-null   float64
 2   Price         2108 non-null   object
dtypes: float64(1), int64(1), object(1)
memory usage: 49.5+ KB

In [8]:
print("Movie_Rating: ")
print(df['Movie_Rating'].value_counts())

Movie_Rating:
Movie_Rating
4.7    340
4.6    339
4.5    260
4.8    243
4.4    216
4.3    193
4.0    154
4.2    151
4.1    142
5.0     42
4.9     28
Name: count, dtype: int64